---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import plugin_bg from "@assets/images/plugin-bg.png";
import default_image from "@assets/images/default-image.png";
import { getCollection } from "astro:content";

// 产品内容
const products = await getCollection("products");
---

<BaseLayout pageTitle="zblog主题和插件" meta={{ keywords: "全屏风格" }}>
  <div
    class="w-screen flex items-center justify-center min-h-[350px] bg-[#75add3] pt-[80px]"
  >
    <Image src={plugin_bg} alt="plugin" class="h-[350px] object-contain" />
  </div>

  <!-- 内容 -->
  <section class="md:py-20 py-10 bg-[#F6F7F9] w-screen">
    <div class="md:w-[1200px] m-auto">
      <h1 class="text-4xl font-semibold md:ml-0 ml-4">主题 Theme</h1>
      <div class="mt-10 flex md:flex-row gap-6 flex-col flex-wrap">
        {
          products
            .filter((product) => product.data.category == "theme")
            .map((product) => (
              <a
                href={`/products/zblog/${product.slug}`}
                class="bg-white md:w-[386px] flex flex-col justify-center shadow-md relative overflow-hidden"
              >
                {product.data.image ? (
                  <Image
                    src={product.data.image.url as ImageMetadata}
                    alt={product.data.image.alt}
                    class="h-[220px] w-full bg-white align-middle object-cover"
                  />
                ) : (
                  <Image
                    src={default_image}
                    alt="暂无图片"
                    class="h-[220px] w-full bg-gray-200 align-middle object-contain"
                  />
                )}

                <div class="p-4 flex flex-col flex-1 gap-4">
                  <h2 class="text-2xl text-[#2C2D2F]">{product.data.title}</h2>
                  <p class="text-lg text-[#A5A6AB] ">
                    {product.data.description}
                  </p>
                  <div class="flex flex-wrap gap-2">
                    {product.data.tags.map((tag) => (
                      <span class="bg-[#3D86EF] text-[#fff] px-3 py-1 rounded-md">
                        {tag}
                      </span>
                    ))}
                  </div>
                  <div class="mt-auto flex items-center text-[#A5A6AB]">
                    <span>作者 {product.data.author}</span>
                    <time class="ml-auto">发布 {product.data.date}</time>
                  </div>

                  {product.data.release ? (
                    <div class="bg-blue-500 text-white absolute top-5 -left-14 px-16 -rotate-45">
                      已发布
                    </div>
                  ) : (
                    <div class="bg-yellow-500 text-white absolute top-5 -left-14 px-16 -rotate-45">
                      待发布
                    </div>
                  )}
                </div>
              </a>
            ))
        }
      </div>
      <h1 class="text-4xl font-semibold mt-16 md:ml-0 ml-4">插件 Plugin</h1>
      <div class="mt-10 flex md:flex-row flex-col gap-6">
        {
          products
            .filter((product) => product.data.category == "plugin")
            .map((product) => (
              <a
                href={`/products/zblog/${product.slug}`}
                class="bg-white md:w-[386px] flex flex-col justify-center shadow-md relative overflow-hidden"
              >
                <Image
                  src={product.data.image.url as ImageMetadata}
                  alt={product.data.image.alt}
                  class="h-[220px] w-full bg-gray-200 align-middle object-cover"
                />
                <div class="p-4 flex-col flex-1">
                  <h2 class="text-2xl text-[#2C2D2F]">{product.data.title}</h2>
                  <p class="text-lg text-[#A5A6AB] mt-4">
                    {product.data.description}
                  </p>
                  <div class="mt-2 flex flex-wrap gap-2">
                    {product.data.tags.map((tag) => (
                      <span class="bg-[#3D86EF] text-[#fff] px-3 py-1 rounded-md">
                        {tag}
                      </span>
                    ))}
                  </div>
                  <div class="mt-5 flex items-center text-[#A5A6AB]">
                    <span>作者 {product.data.author}</span>
                    <time class="ml-auto">发布 {product.data.date}</time>
                  </div>

                  {product.data.release ? (
                    <div class="bg-blue-500 text-white absolute top-5 -left-14 px-16 -rotate-45">
                      已发布
                    </div>
                  ) : (
                    <div class="bg-yellow-500 text-white absolute top-5 -left-14 px-16 -rotate-45">
                      待发布
                    </div>
                  )}
                </div>
              </a>
            ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
